In [1]:
import pyspark
import os
import sys
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
from pyspark.sql import SparkSession
spark = SparkSession.builder.config('spark.driver.memory', '4g').appName('q5_q6').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/12 15:09:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/12 15:09:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/01/12 15:09:34 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
import pandas as pd
data={'names':['murugan','karthikeyan','gopireddy','reddy','karthik','kartits','bakki','kannayya']}
df_pd=pd.DataFrame(data)
df=spark.createDataFrame(df_pd)
df.show()

+-----------+
|      names|
+-----------+
|    murugan|
|karthikeyan|
|  gopireddy|
|      reddy|
|    karthik|
|    kartits|
|      bakki|
|   kannayya|
+-----------+

In [18]:
ops=df.head(5)
for r in ops:
    print(r[0])

murugan
karthikeyan
gopireddy
reddy
karthik

In [20]:
df.select('names').summary().show()

+-------+-----+
|summary|names|
+-------+-----+
|  count|    8|
|   mean| NULL|
| stddev| NULL|
|    min|bakki|
|    25%| NULL|
|    50%| NULL|
|    75%| NULL|
|    max|reddy|
+-------+-----+